.mg-nav-widget-area-back {
  height: 260px;
}

.ds16-tab-content {
  width: 100%;
  height: auto;
  background-color: #fff;
}

.first-post {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 6px;
}

.ds16-img-chif {
  margin-left: 18%;
  margin-bottom: 20px;
}

.ds16-entry-title,
.ds16-entry-title-chif {
  text-align: center;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.05em;
  line-height: 1.3;
  margin: 0 0 1.4rem;
  color: #202f5b;
  font-size: 18px;
  text-transform: uppercase;
}

.ds16-entry-title-chif {
  margin-bottom: 10px;
}

.navbar-wp .dropdown-menu > li > a {
  background: #e31e25;
  color: #fff;
}
